<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge;">
    <title>AoCMulti</title>
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">
    <link rel="stylesheet" href="https://rawgithub.com/lipis/flag-icon-css/master/css/flag-icon.css">
    <link rel="stylesheet" href="{{config.base_url}}style/style.css">
  </head>
  <body>
    <script>
      var __ladders = {{json ladders}};
    </script>
    <script type="text/x-handlebars">
      <div class="container">
        {{{content}}}
      </div>
    </script>
    <script type="text/x-handlebars" id="index">
      {{{template "index"}}}
    </script>
    <script type="text/x-handlebars" id="username">
      {{{template "username"}}}
    </script>
    <script type="text/x-handlebars" id="game-room">
      {{{template "game-room"}}}
    </script>
    <script type="text/x-handlebars" id="game-room-summary">
      {{{template "game-room-summary"}}}
    </script>
    <script src="{{config.base_url}}js/lib/jquery/dist/jquery.js"></script>
    <script src="{{config.base_url}}js/lib/handlebars/handlebars.js"></script>
    <script src="{{config.base_url}}js/lib/ember/ember.js"></script>
    <script src="{{config.base_url}}js/lib/moment/moment.js"></script>
    <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="{{config.base_url}}js/app.js"></script>
  </body>
</html>