<div class="message">
  <time>{{unbound format time "HH:mm:ss"}}</time>
  {{#unboundIf isSystemMessage}}
    [ <span class="system">{{msg}}</span> ]
  {{else}}
    <span class="username" data-user-id="{{unbound uid}}"><span {{bind-attr class=":flag-icon flagClassName"}}></span> {{username}}</span>
    {{msg}}
  {{/unboundIf}}
</div>