<div class="panel panel-default">
  <div class="panel-heading">
    <div class="row">
      <div class="col-lg-5 col-md-5 col-sm-7">
        {{#if locked}} <span class="fa fa-lock"></span> {{/if}}
        {{title}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-5">
        {{players.length}}/{{max_players}}
      </div>
      <div class="col-lg-3 col-md-3 col-sm-7">
        {{ladder_name}}
      </div>
      <div class="col-lg-2 col-md-2 col-sm-5">
        RM
      </div>
    </div>
  </div>
  <div class="panel-body">
    <button class="btn btn-primary pull-right" {{bind-attr disabled=full}} {{action "join" id}}>
      {{#if full}}
        Full
      {{else}}
        {{#if locked}} <span class="fa fa-lock"></span> {{/if}}
        Join
      {{/if}}
    </button>
    <ul class="list-inline">
      {{#each players}}
        {{view App.UsernameView tagName="li"}}
      {{/each}}
    </ul>
  </div>
</div>