<button class="btn btn-primary btn-large pull-right" type="button" {{action "leave"}}>Leave</button>
<h1>{{title}}</h1>
<div class="row">
  <div class="col-lg-3 players">
    {{#if hosting}}
      <button class="btn btn-primary" type="button" {{action "edit"}}>Room Settings</button>
    {{/if}}
    <dl>
      <dt>Description</dt>
      <dd>{{desc}}</dd>
      <dt>Host</dt>
      {{view App.UserItemView context=host tagName="dd"}}
      <dt>Players ({{players.length}} / {{max_players}})</dt>
      <dd>
        <ul class="list-unstyled">
          {{#each otherPlayers}}
            {{view App.UserItemView tagName="li"}}
          {{/each}}
        </ul>
      </dd>
      {{#if hosting}}
        <dt>Launch</dt>
        <dd>
          <button class="btn btn-primary" type="button" {{bind-attr disabled=unlaunchable}} {{action "launch"}}>Launch</button>
        </dd>
      {{/if}}
    </dl>
  </div>
  <div class="col-lg-9 chat">
    {{chat-box room=id}}
  </div>
</div>