<div class="media hide">
  <div class="pull-left">
    <button class="media-object btn btn-primary" {{bind-attr disabled=full}} {{action "join" id}}>
      {{#if full}} Full {{else}} Join {{/if}}
    </button>
  </div>
  <div class="media-body">
    <div class="row">
      <div class="game-title col-lg-6">{{title}}</div>
      <div class="game-ladder col-lg-3">{{ladder_name}}</div>
    </div>
    <div class="game-descr">
      <ul class="list-inline">
        <li><strong>Players:</strong></li>
        {{#each players}}
          {{view App.UsernameView tagName="li"}}
        {{/each}}
      </ul>
    </div>
  </div>
</div>