<div class="header row">
  <div class="col-lg-3 col-md-4 col-sm-10">
    <h1>Open Rooms</h1>
  </div>
  <div class="padded col-lg-4 col-md-3 hidden-sm">
    <form class="form-horizontal">
      <div class="form-group">
        <label class="control-label col-lg-2">Filter:</label>
        <div class="col-lg-10">
          {{filter-query collection=games}}
        </div>
      </div>
    </form>
  </div>
  <div class="padded col-lg-2 col-md-2 col-sm-2">
    <button class="btn btn-primary pull-right" type="button" data-toggle="modal" data-target="#create-game-modal">Create Game</button>
  </div>
</div>
<div class="row">
  <div {{bind-attr class="renderPlayerList:col-lg-9:col-lg-12 renderPlayerList:col-md-8:col-md-12 renderPlayerList:col-sm-6:col-sm-6"}}>
    <ul {{bind-attr class=":list-unstyled layout"}}>
      {{#each games}}
        {{view App.RoomSummary tagName="li"}}
      {{else}}
        <li><h2>No games found!</h2></li>
      {{/each}}
    </ul>
  </div>
  {{#unless single}}
    <div class="col-lg-3 col-md-4 col-sm-6 sidebar">
      <div class="panel panel-default online-players">
        <div class="panel-heading">Online Players</div>
        <div class="panel-body">
          {{online-players}}
        </div>
      </div>

      <div class="panel panel-default chat">
        <div class="panel-heading">Chat</div>
        <div class="panel-body">
          {{chat-box room="lobby"}}
        </div>
      </div>
    </div>
  {{/unless}}
</div>


<div class="modal" id="create-game-modal">
  <div class="modal-dialog">
    <div class="modal-content">
      <header class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
        <h4 class="modal-title">Create Game</h4>
      </header>
      <div class="modal-body">
        <form id="create-game-form" class="form-horizontal" action="/web/games" method="post">
          <div class="form-group">
            <label for="create-game-title" class="col-sm-3 control-label">Room Name</label>
            <div class="col-sm-9">
              {{view App.TextField value=gameData.title}}
            </div>
          </div>
          <div class="form-group">
            <label for="create-game-descr" class="col-sm-3 control-label">Room Description</label>
            <div class="col-sm-9">
              {{view App.TextArea value=gameData.descr}}
            </div>
          </div>
          <div class="form-group">
            <label for="create-game-maxp" class="col-sm-3 control-label">Max Players</label>
            <div class="col-sm-9">
              {{view App.NumberField min=1 max=8 value=gameData.maxPlayers}}
            </div>
          </div>
          <div class="form-group">
            <label for="create-game-ladder" class="col-sm-3 control-label">Ladder</label>
            <div class="col-sm-9">
              {{view App.Select value=gameData.ladder content=App.ladders optionValuePath="content.id" optionLabelPath="content.name"}}
            </div>
          </div>
        </form>
      </div>
      <footer class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button {{action "createGame"}} {{bind-attr disabled="sendingRequest"}} id="create-game-create" form="create-game-form" type="button" class="btn btn-primary">Create</button>
      </footer>
    </div>
  </div>
</div>